* { 
    box-sizing: border-box;
}

/* Clearfix Hack */

 .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  a {
    text-decoration: none;
  }
  html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
  }

  body {
    background-image: url(sky2.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover; 
  }
  h1{
    color:white;
    font-size: 40px;
  }
h3 {
  color: white;
  font-size: 30px;
}
  p {
    width:50%;
    color:coral;
    border-radius: 10px; ;
    padding: 2%;
    font-size: 40px;
    background-color: white;
  
  }

  